---
layout: default
---

{% include base_path %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="home-content">
    <div class="page__inner-wrap">
      <section class="page__content" itemprop="text">
        {{ content }}
      </section>
    </div>
  </div>
</div>

<script>
VANTA.WAVES({
  el: "#vanta-header-background",
  mouseControls: true,
  touchControls: true,
  gyroControls: false,
  minHeight: 200.00,
  minWidth: 200.00,
  scale: 1.00,
  scaleMobile: 1.00
})
</script>
<script>
VANTA.WAVES({
  el: "#vanta-footer-background",
  mouseControls: true,
  touchControls: true,
  gyroControls: false,
  minHeight: 200.00,
  minWidth: 200.00,
  scale: 1.00,
  scaleMobile: 1.00
})
</script>