#vanta-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20vh;
    background: linear-gradient(to top, var(--global-bg-color) 0%, rgba(255, 255, 255, 0) 100%);
    pointer-events: none;
  }
}

.masthead,
.page__footer {
  background-color: rgba(255, 255, 255, 0.8);
}

[data-theme="dark"] .masthead,
[data-theme="dark"] .page__footer {
  background-color: rgba(0, 0, 0, 0.8);
}
